{% extends 'main/index.html' %}
{% block title %}{{ item.name }}{% endblock %}
{% block item %}
<h1 class="header">{{ item.name }}</h1>
<div class="box">
<p>{{ item.description }}</p>
<img src="{{ item.image.url }}" class="img_item">
    </div>
<div class="price_btn">
<p >{{ item.get_display_price }}€</p>
    <button
    href="#"
    class="btn_login"
    hx-get="{% url 'add_to_cart' item.id %}"
    hx-target="#menu-cart-button"
    hx-swap="outerHTML"
    >

        Add to cart!

</button>
    </div>
{% endblock %}