{% extends 'main/index.html' %}
{% block title %}Edit account{% endblock %}

{% block item %}
<div>
    <h1 class="header">Edit account</h1>
    <div class="myForm">
    <form method="post" action=".">
        {% csrf_token %}
        <div class="inputGroup">
        <input type="text" required="" name="first_name" value="{{ request.user.first_name }}">
        <label>First name</label>
        </div>
        <div class="inputGroup">
        <input type="text" required="" name="last_name" value="{{ request.user.last_name }}">
        <label>Last name</label>
        </div>
        <div class="inputGroup">
        <input type="text" required="" name="username" value="{{ request.user.username }}">
        <label>Username</label>
        </div>
        <div class="inputGroup">
        <input type="text" required="" name="email" value="{{ request.user.email }}">
        <label>E-mail</label>
        </div>
        <div>
            <button class="btn_login">Submit</button>
        </div>

    </form>
    </div>
</div>

{% endblock %}