{% extends 'main/index.html' %}
{% block title %}Login{% endblock %}

{% block item %}
<div>
    <h1 class="header">Log in</h1>
    <div class="myForm">
    <form method="post" action=".">
        {% csrf_token %}
        <div class="inputGroup">
        <input type="text" name="username" required="">
        <label >Username</label><br>
        </div>

        <div class="inputGroup">
        <input type="password" name="password" required="">
        <label >Password</label><br>
            </div>

        <div class="formTitle">
            <button class="btn_login">Log in</button>
            </div>

        {% if f.errors %}
            {% for field in f %}
                {% for error in field.errors %}
                    <div>
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}

        {% for error in f.non_field_errors %}
            <div>
                <p>{{ error|escape }}</p>
            </div>
        {% endfor %}
        {% endif %}
    </form>
        </div>
</div>
{% endblock %}