{% extends 'main/index.html' %}
{% block title %}My account{% endblock %}

{% block item %}
<div>
  <h1 class="header">My account</h1>

  {% for order in request.user.orders.all %}
  <div class="user_info">
    <strong>Name: </strong>{{ request.user.get_full_name }}<br>
    <strong>Username: </strong>{{ request.user.username}}<br>
    <strong>E-mail: </strong>{{ request.user.email }}<br>

    <a href="{% url 'edit_myaccount' %}">Edit</a>
  </div>

  <hr>

  <h2>Your orders</h2>
  <div>
    <div>
      <a href="#">Order id: {{ order.id }}</a>
    </div>
    <div>
      {% for item in order.items.all %}
      <div>
        <a href="#">
          <img class="img" src="{{ item.product.get_thumbnail }}">
        </a>

        <div>
          <div>
            <a href="#">{{ item.product.name }}</a>

            <p>10€</p>
          </div>

          <hr>

          <div>
            Quantity: {{ item.quantity }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div>
      <p>Date: {{ order.created_at }}</p>
      <p>Total: 100€</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}